.App {
  text-align: center;
}

.img-card:hover .overlay {
  position: relative;
  transition: transform 0.2s;
 }

.img-card:hover .overlay {
 opacity: 1
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 1);
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  width: auto;
  text-align: center;
}
